.ex{
margin:auto;
min-width: :600px;
width:80%;
background-color:pink;

}
.ex2,aside{
  height:600px;
}
.ex2{
background-color:green;
float:left;
width:80%;
}
aside{
  background-color:rgb(100,200,150);
  float:left;
  width:20%
}
aside ul{
  list-style:none;
  padding-left: none;
}
