body{
background-color:pink;
font-family:sans-serif;
width:600px;
margin:auto;
}
label{
display:list-item;
}
form li{
  list-style: none;
  padding-bottom: 10px
}
textarea{
  width:200px;
  height:50px;
}
