body{
  font-family:Lato,sans-serif;
  background-color:#6EA3AB   ;
  /*background-image:url(book.jpg);
  background-repeat: no-repeat;*/
}
.container_12
{
background-color:#6EA3AB ;
}
nav li{
display:inline;
}
header{
background-color:#606261;
position:fixed;
margin-top:-1px;
height:80px;
border-radius:10px;
z-index: 9999;
}
ul a{
text-decoration:none;
color:white;
font-size:20px;
padding-right:20px;
}
ul a:hover{
  color:#15B3CB;

}
.heading{
text-shadow:10px 15px 15px black;
font-size:30px;
color:white;
}
.down
{
  margin-top: 28px;
}
.down1{
  margin-top: 40px;

}
.grid_6{
  margin-top:100px;
 margin-left: 10px;
  margin-bottom: 10px;
  padding-right:10px;
}



h3{
  font-size:15px;
  font-style: italic;
  font-family:monospace;
  color:white;
}
footer{
  background-color:#606261;
  height:100px;
  margin-top:10px;
}
footer ul a{
text-decoration:none;
color:blue;
font-size:15px;
font-weight: lighter;
padding-right:10px;
}
